CSharpWebServer/CSharpClientConsoleTestApp/Service References/SOAWebServiceReference/JavaWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebServices.thesis.enesuysal.ist/" targetNamespace="http://WebServices.thesis.enesuysal.ist/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetObjectSOA" type="tns:GetObjectSOA" />
  <xs:element name="GetObjectSOAResponse" type="tns:GetObjectSOAResponse" />
  <xs:complexType name="GetObjectSOA">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element name="gender" type="xs:unsignedShort" />
      <xs:element name="age" type="xs:byte" />
      <xs:element name="isSingle" type="xs:boolean" />
      <xs:element name="weight" type="xs:int" />
      <xs:element name="height" type="xs:double" />
      <xs:element minOccurs="0" name="eyeColor" type="xs:string" />
      <xs:element name="salary" type="xs:float" />
      <xs:element minOccurs="0" name="houseNumber" type="xs:string" />
      <xs:element minOccurs="0" name="floorNumber" type="xs:string" />
      <xs:element minOccurs="0" name="street" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="zip" type="xs:string" />
      <xs:element minOccurs="0" name="country" type="xs:string" />
      <xs:element name="countryCode" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetObjectSOAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>