CSharpWebServer/ConsoleTest/Service References/CallWebServerClient/CallWebServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://thesis.enesuysal.ist/" targetNamespace="http://thesis.enesuysal.ist/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetResult" type="tns:GetResult" />
  <xs:element name="GetResultResponse" type="tns:GetResultResponse" />
  <xs:complexType name="GetResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetResultResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>