JavaTEST2/weather.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="weather">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="country"/>
        <xs:element type="xs:string" name="city"/>
        <xs:element type="xs:string" name="date"/>
        <xs:element type="xs:string" name="weatherResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
